.na-dataviz {
  width: 100%;
  display: flex;
  height: 500px;
  background-color: #efefef;
  padding: 20px;
}

.map {
  flex-grow: 1;
}

.pane {
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.filters {
  &__label {
    margin: 0 0.4em 0.4em 0;
    padding: 0.2em 0.7em;
    line-height: 1em;
    border-radius: 0.7em;
    opacity: 0.7;
    &:hover {
      opacity: 0.6;
    }
    &--active {
      opacity: 1;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  &__input {
    display: none; //TODO check accessibility
  }
}

.tooltip {
  background-color: white;
  margin-top: 20px;
  &__group {
    color: white;
    padding: 1em;
  }
  &__close {
    float: right;
    font-weight: bold;
    color: white;
    padding: 5px;
    &:hover {
      color: #ffffffcc;
    }
  }
  &__content {
    padding: 1em;
    overflow-y: scroll;
    p {
      margin: 0 0 0.5em 0;
      line-height: 1.25em;
      &:last-child {
        margin: 0
      }
    }
  }
}

.comma-list {
  span:not(:last-child)::after {
    content: ", ";
  }
}
.slash-list {
  span:not(:last-child)::after {
    content: " / ";
  }
}