.na-dataviz {
  background-color: #efefef;
  padding: 20px;
}

.main {
  margin: 20px 0;
  position: relative;
}

.footer {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.map {
  max-height: calc(100vh - 40px);
  height: 500px;
}

.filters {
  margin-top: 20px;
  &__label {
    margin: 0 0.4em 0.4em 0;
    padding: 0.2em 0.7em;
    line-height: 1em;
    border-radius: 0.7em;
    &:hover {
      opacity: 0.6;
    }
  }
  &__input {
    display: none; //TODO check accessibility
  }
}

.tooltip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  max-height: calc(100% - 20px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  @media (min-width: 600px) {
    width: 250px;
    top: 10px;
    bottom: auto;
    left: auto;
  }
  &__header {
    color: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__group {
    padding: 0.5em;
  }
  &__close {
    font-weight: bold;
    color: white;
    padding: 0.5em;
    &:hover {
      color: #ffffffbb;
    }
  }
  &__content {
    padding: 1em;
    flex-shrink: 1;
    overflow-y: scroll;
    p {
      margin: 0 0 0.5em 0;
      line-height: 1.25em;
      &:last-child {
        margin: 0
      }
    }
  }
  &__single-item {
    display: block;
    margin-bottom: 10px;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.comma-list {
  span:not(:last-child)::after {
    content: ", ";
  }
}
